*{
	margin: 0;
	padding: 0;
}
.fallsAlbum{
	position: relative;
}
.fallsAlbum .imgBox{
	overflow: hidden;
	text-align: center;
	position: absolute;
	width:300px;
}
.fallsAlbum .imgBox img{
	width: 100%;
	height: 100%;
	display: block;
	object-fit:cover;
	object-position:center;
}
.fallsAlbum .imgBox .description{
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.fallsAlbum .cover{
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
}
.fallsAlbum .hide{
	display: none;
}
.scaleToScreen{
	position: absolute;
	transform:scale(2,2);
	transition:500ms transform;
	z-index: 3;
}
