.cyq_container{
	width: 281px;
	height: 250px;
	z-index: 10;
}
.cyq_header{
	background-color: pink;
}
.cyq_select{
	width: 80px;
	height: 20px;
	margin: 10px;
	margin-left: 22px;
	margin-right: 30px;
}
.cyq_week span{
	display: inline-block;
	width: 40px;
	text-align: center;
	color: #666;
}
.cyq_box span{
	display: inline-block;
	width: 39px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	border-right: 1px solid rgba(89,89,89,0.5);
	border-bottom: 1px solid rgba(89,89,89,0.5);
	font-size:12px;
	cursor: pointer;
}
.cyq_box span:hover,.cyq_chosen{
	background-color: pink;
}
.cyq_box{
	border-top:1px solid rgba(89,89,89,0.5);
	border-left: 1px solid rgba(89,89,89,0.5);
}
.cyq_sj{
	position: absolute;
	border:10px solid #fff;
	margin-top: 10px;
	cursor: pointer;
}
.cyq_pre{
	border-color: transparent #fff transparent transparent;
}
.cyq_next{
	border-color: transparent transparent transparent #fff;
}
.cyq_preYear{
	left: 0px;
}
.cyq_nextYear{
	left: 104px;
}
.cyq_preMonth{
	left: 132px;
}
.cyq_nextMonth{
	left: 236px;
}
.cyq_predays,.cyq_nextdays{
	background-color: #ccc;
}
.cyq_invalid{
	background-color: #999;
}
.cyq_range{
	font-size: 12px;
}
.cyq_hide{
	display: none;
}
.cyq_footer{
	height: 40px;
	width: 279px;
	border:1px solid rgba(89,89,89,0.5);
	border-top:none;
	line-height: 40px;
}
.cyq_footer button{
	width: 65px;
	height: 30px;
	margin-left: 50px;
	border:1px solid pink;
	background-color: pink;
	color: #666; 
}
#cyq_submit{
	background-color: #38BA7D;
}