.container{
	margin: 20px auto;
}
/*.root,.child1,.child2,.child3,.child4*/
.child{
	padding: 2px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	border:1px solid blue;
}

.child1,.child2,.child3,.child4{
	margin: 0px 10px;
}
.root{
	height: 110px;
}
.child1{
	height: 90px;
}
.child2{
	height: 70px;
}
.child3{
	height: 50px;
}
button{
	padding: 10px;
	margin-left: 20px;
}
.btn{
	margin: 20px 0;
}
input[type="text"]{
	padding: 10px;
}
.btn .error{
	color: red;
	font-size: 12px;
	margin-left: 20px;
}