fieldset{
    margin: 50px auto;
    width: 500px;
}
.parent{
    font-size: 14px;
    line-height: 20px;
    margin-left: 30px;
    margin-top: 10px;
}
.sj,.tj,.del{
    vertical-align:middle;
    display: inline-block;
}
.sj,.tj,.del,.data{
     cursor: pointer;
}
.tj,.del{
    margin-left: 20px;
}
.visi_hide{
    visibility: hidden;
}
.display_none{
    display: none;
}
.header:hover .display_none{
    display: inline;
}
.visibleP .parent{
    display: block;
}
.hideP .parent{
    display: none;
}
#result{
    font-size: 12px;
    color: red;
    text-align: center;
}